<form class="form-horizontal" method="post">
    <?php echo Token::GetForm() ?>
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="email" class="form-control" id="email" name="email"
                placeholder="Your email..." tabindex="1">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" id="email" name="password"
                placeholder="Password..." tabindex="1">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="checkbox-inline"><input type="checkbox">Stay logged in</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
            <button type="submit" class="btn btn-success btn-lg" name="login"
            tabindex="3">Login</button>
        </div>
    </div>
</form>
